<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Trainer Salary Management</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
<!--    <script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--    <style>-->
<!--        .hidden {-->
<!--            display: none;-->
<!--        }-->
<!--    </style>-->

<!--    &lt;!&ndash; Add any other required scripts or stylesheets &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-3">-->
<!--    <h2>Trainer Salary Paid Management</h2>-->

<!--    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" onclick="prepareCreateNew()">Create New-->
<!--    </button>-->

<!--    <a type="button" class="btn btn-primary" th:href="@{/trainer-salary/downloadReport}">Generate Report</a>-->

<!--    &lt;!&ndash; Trainer Salary Table &ndash;&gt;-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>First Name</th>-->
<!--            <th>Last Name</th>-->
<!--            <th>Payment Date</th>-->
<!--            <th>Amount</th>-->
<!--            <th>Description</th>-->
<!--            <th>Credit/Debit</th>-->
<!--            <th>Actions</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="salary : ${trainerSalaries}">-->
<!--            <td th:text="${salary.id}"></td>-->
<!--            <td th:text="${salary.trainerFirstName}"></td>-->
<!--            <td th:text="${salary.trainerLastName}"></td>-->
<!--            <td th:text="${#dates.format(salary.paymentDate, 'yyyy-MM-dd')}"></td>-->
<!--            <td th:text="${salary.amount}"></td>-->
<!--            <td th:text="${salary.description}"></td>-->
<!--            <td th:text="${salary.creditDebit}"></td>-->
<!--            <td>-->
<!--                &lt;!&ndash; Edit Button &ndash;&gt;-->
<!--                &lt;!&ndash; Add onclick event to the Edit button &ndash;&gt;-->
<!--                <a type="button" class="btn btn-primary" th:onclick="'editSalary(' + ${salary.id} + ')'">Edit</a>-->

<!--                &lt;!&ndash; Delete Button &ndash;&gt;-->
<!--                &lt;!&ndash;             <a type="button" class="btn btn-danger btn-sm" th:attr="data-salary-id=${salary.id}" onclick="showDeleteAlert(this.getAttribute('data-salary-id'))">Delete</a>&ndash;&gt;-->
<!--                <a type="button" class="btn btn-danger btn-sm" th:attr="data-salary-id=${salary.id}"-->
<!--                   onclick="confirmDelete(this.getAttribute('data-salary-id'))">Delete</a>-->

<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--        <div id="pagination" class="mt-2">-->

<!--        </div>-->
<!--    </table>-->

<!--</div>-->

<!--&lt;!&ndash; Trainer Salary Modal (for Create and Edit) &ndash;&gt;-->
<!--<div class="modal" id="trainerSalaryModal">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->

<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title">Trainer Salary Details</h4>-->
<!--                <button type="button" class="close" onclick="resetForm()" data-dismiss="modal">&times;</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; ... [previous code] ... &ndash;&gt;-->

<!--            <div class="modal-body">-->
<!--                <form id="trainerSalaryForm" th:action="@{/trainer-salary/save}" th:method="post"-->
<!--                      th:object="${trainerSalary}">-->
<!--                    <input type="hidden" id="salaryId" th:field="*{id}"/>-->

<!--                    <div class="form-group">-->
<!--                        <label for="trainerId" id="labeltrainerId">Trainer</label>-->
<!--                        <select required class="form-control" id="trainerId" th:field="*{trainerId}"-->
<!--                                onchange="updateTrainerInfo()">-->
<!--                            <option value="">Choose...</option>-->
<!--                            <th:block th:each="trainer : ${trainers}">-->
<!--                                <option th:value="${trainer.id}"-->
<!--                                        th:data-firstname="${trainer.firstname}"-->
<!--                                        th:data-lastname="${trainer.lastname}"-->
<!--                                        th:text="${trainer.firstname}"></option>-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="trainerFirstName">First Name</label>-->
<!--                        <input type="text" class="form-control" id="trainerFirstName" th:field="*{trainerFirstName}"-->
<!--                               placeholder="First Name" readonly/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="trainerFirstName">Last Name</label>-->
<!--                        <input type="text" class="form-control" id="trainerLastName" th:field="*{trainerLastName}"-->
<!--                               placeholder="Last Name" readonly/>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="paymentDate">Payment Date</label>-->
<!--                        <input type="date" id="paymentDate" class="form-control" th:field="*{paymentDate}" required/>-->
<!--                        <div th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"-->
<!--                             class="invalid-feedback"></div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="amount">Amount</label>-->
<!--                        <input type="number" id="amount" class="form-control" th:field="*{amount}" required/>-->
<!--                        <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"-->
<!--                             class="invalid-feedback"></div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="description">Description</label>-->
<!--                        <input type="text" id="description" class="form-control" th:field="*{description}" required/>-->
<!--                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"-->
<!--                             class="invalid-feedback"></div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="creditDebit">Credit/Debit</label>-->
<!--                        <input type="text" id="creditDebit" class="form-control" th:field="*{creditDebit}" required/>-->
<!--                        <div th:if="${#fields.hasErrors('creditDebit')}" th:errors="*{creditDebit}"-->
<!--                             class="invalid-feedback"></div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--            &lt;!&ndash; ... [rest of the code] ... &ndash;&gt;-->


<!--            <div class="modal-footer">-->
<!--                <button type="submit" id="saveButton" form="trainerSalaryForm" class="btn btn-primary">Save</button>-->
<!--                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="resetForm()">Close</button>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div id="salaryChartContainer" style="width:100%; height:400px;"></div>-->


<!--&lt;!&ndash;&ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Add this script at the end of your HTML template, right before the closing </body> tag &ndash;&gt;-->
<!--<script th:src="@{/js/trainersalary/function.js}"></script>-->
<!--<script>-->

<!--</script>-->

<!--</body>-->
<!--</html>-->

