<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="pages/fragment/head_after_login :: head"></div>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <div th:replace="pages/fragment/sidebar_after_login :: sidebar"></div>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <div th:replace="pages/fragment/topbar_after_login :: topbar"></div>
          <!-- End of Topbar -->

          <!--Navbar-->
          <div th:replace="pages/admin/admin_trainer/page_update_lesson/updateLesson_navbar :: navbar"></div>
          <!--End of navbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid pt-2">

            <div th:replace="pages/admin/admin_trainer/page_update_lesson/titlePageContent_updateLesson :: titlePageContent"></div>

            <div th:replace="pages/admin/admin_trainer/page_update_lesson/table_updateLesson :: table"></div>


        </div>
          <!-- END Page Content -->

        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="pages/fragment/footer_after_login :: footer"></div>
        <!-- End of Footer -->

      </div>
      <!-- End of main content -->

    </div>
    <!-- End Content Wrapper -->

    <!-- START Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- END Scroll to Top Button-->

    <!--START Logout Modal-->
    <div th:replace="pages/fragment/modal_logout_after_login :: modal_logout"></div>
    <!--END of Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <div th:replace="pages/fragment/script :: script"></div>
    <!-- END Bootstrap core JavaScript-->
  </body>
</html>

<!-- tìm mock để set controller apply vào -->
<!-- single page -->

<!--api - thymeleaf-->
