<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--    <title>SignUp</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--<section class="text-center">-->
<!--    &lt;!&ndash; Background image &ndash;&gt;-->
<!--    <div class="p-5 bg-image" style="-->
<!--        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');-->
<!--        height: 300px;-->
<!--        "></div>-->
<!--    &lt;!&ndash; Background image &ndash;&gt;-->

<!--    <div class="card mx-4 mx-md-5 shadow-5-strong" style="-->
<!--        margin-top: -100px;-->
<!--        background: hsla(0, 0%, 100%, 0.8);-->
<!--        backdrop-filter: blur(30px);-->
<!--        ">-->
<!--        <div class="card-body py-5 px-md-5">-->

<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="col-lg-8">-->
<!--                    <h2 class="fw-bold mb-5">You have signed up successfully!</h2>-->
<!--                    <div th:if = "${msg}" class="alert-danger text-center">[[${msg}]]</div>-->
<!--                    <h4><a th:href="@{/login}">Click here to Login</a></h4>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->

<!--</body>-->
<!--</html>-->